
<!-- <app-card (sendBack) = "displayTitle($event)" [myimg]="img" [title]="restroname" desc="{{description}}"> </app-card> -->
<!-- <h1>{{cardtitle}}</h1> -->
<div class="container1">
  <div *ngFor="let r of restros" class="child">
      <p [appCardhover]="r.color">{{cardtitle}}</p>
    <app-card (click)="gotoDetails(r)" [myimg]="r.img" [title]="r.name" desc="{{r.description}}"></app-card>
  </div>
</div>
<button (click)="logout()">Logout</button>

<button (click)="changeColor()">Change Color</button>
