<form [formGroup]="loginForm">
  <div>
    <label>Email</label>
    <input type="text" formControlName="email">
  </div>
  <div>
    <label>Password</label>
    <input type="password" formControlName="pwd">
  </div>

  <button (click)="login()">Login</button>
  <button (click)="reset()">Reset</button>
</form>

<div *ngFor="let p of products">
  <p>{{p.ProductName}}</p>

</div>

  


<!-- <div *ngFor="let c of countries" class="row">
    <div class="column">
      
      <div class="card"><p>{{c.name}}</p><img style="height:100px;width:100px;" src="{{c.flag}}" alt=""></div>
    </div>
</div> -->