<div>
  <input (keyup)="filterItems()" [(ngModel)]="moviename" type="text">
</div>
<div>
  <p>{{moviename}}</p>
</div>
<div>
    <button (click)="addMovie()">Add</button>
    <table>
      <thead>
        <th>Sr. No</th>
        <th (click)="sortByName()">Name</th>
        <th (click)="sortByActor()">Actor</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let m of displayMovies; let i = index;">
          <td>{{i+1}}</td>
          <td>{{m.name}}</td>
          <td>{{m.actor}}</td>
          <td>
            <button (click)="delMovie(m)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
  