<div>
    <table>
      <thead>
        <th>Sr. No</th>
        <th>Name</th>
        <th>Rno</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr (click)="selectName(s)" *ngFor="let s of students; let i = index">
          <td>{{i+1}}</td>
          <td>{{s.name}}</td>
          <td >{{s.rno}}</td>
          <td><button (click)="display(s)">Show Name</button></td>
        </tr>
      </tbody>
    </table>
  
    <div>
      <p>{{selectedName.name}}</p>
    </div>
  </div>