<br>
<br>
<br>

<form [formGroup]="foodForm">
  <div>
    <select>
      <option *ngFor="let f of foods">{{f.name}}</option>
    </select>
  </div>
    <div>
        <label>Email*</label>
        <input formControlName="email" type="text">
      </div>
  <div>
    <label>Name*</label>
    <input formControlName="name" type="text">
    <span *ngIf="(foodForm.controls.name.dirty || foodForm.controls.name.touched) && foodForm.controls.name.invalid"><p>Food should be min 6 chars</p></span>
  </div>
  <div>
      <label>Price*</label>
      <input formControlName="price" name="price" type="number">
      <span *ngIf="foodForm.controls.price.hasError('abc')">Too Costly</span>
      <span *ngIf="(foodForm.controls.price.dirty || foodForm.controls.price.touched) && foodForm.controls.price.hasError('required')">This field is required</span>
  </div>
  
  
  <button [disabled]="foodForm.invalid" (click)="addFood()">Submit</button>
  <button (click)="reset()">Reset</button>
</form>

<input type="text" [(ngModel)]="searchTerm">
<div>
  <ul *ngFor="let f of foods | myfilter:searchTerm">
    <li>
        {{f.name | myupper}}--{{f.price}}
        <!-- <img src="{{f.img}}"> -->
    </li>
  </ul>
</div>


<div>
  <p>{{mydate | date : 'medium'}}</p>
</div>